.formData fieldset {
  width: 100%;
  padding: 14px;
}

.formData fieldset legend {
  font-size: 20px;
  font-weight: bold;
}

.lineForm {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.inputContainer strong {
  font-size: 16px;
  color: #FFF;
}

.formData input {
  background: #121214;
  padding: 10px;
  border-radius: 8px;
  color: #e1e1e6;
  line-height: 1.4;
  flex: 1;
}

.formData select {
  background: #121214;
  padding: 10px;
  border-radius: 8px;
  color: #FFF;
  line-height: 1.4;
  flex: 1;
}

.formData button[type=submit] {
  width: 100%;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: #00875f;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.1s;
}

.formData button[type=submit]:hover {
  background: #00B37E;
}